In [5]:
#imports
import pandas as pd
from datetime import datetime

In [6]:
# load the data
data_path = 'Datasets/2021-2023/CSB_2021-2023_All.csv'
initial_data = pd.read_csv(data_path)

/var/folders/n3/spvzfspj1gn51bldz75lhrt40000gn/T/ipykernel_1462/3892218257.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  initial_data = pd.read_csv(data_path)

In [7]:
# copy data (it's faster to copy than to load it again)
bike_data = initial_data.copy()

In [8]:
# load the data
data_path = 'Datasets/2021-2023/CSB_2021-2023_Hourly_Weather.csv'
weather_data = pd.read_csv(data_path)

In [9]:
# convert datetime data
bike_data['started_at'] = pd.to_datetime(bike_data['started_at'])
bike_data['ended_at'] = pd.to_datetime(bike_data['ended_at'])

In [10]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8180626 entries, 0 to 8180625
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 811.4+ MB

In [11]:
weather_data

,Date,Hour,Casual,Member,Total_rides,temperature_2m (°C),relativehumidity_2m (%),weathercode (wmo code),windspeed_10m (km/h)
0,2021-01-01,0,20.0,26.0,46.0,2.4,90,1,10.2
1,2021-01-01,1,23.0,23.0,46.0,1.8,88,1,10.0
2,2021-01-01,2,20.0,28.0,48.0,1.1,87,2,10.1
3,2021-01-01,3,9.0,7.0,16.0,1.6,81,2,10.6
4,2021-01-01,4,7.0,5.0,12.0,1.6,77,2,9.9
...,...,...,...,...,...,...,...,...,...
21859,2021-02-19,3,NaN,NaN,NaN,-1.6,93,51,10.4
21860,2021-03-14,2,NaN,NaN,NaN,2.9,56,0,13.9
21861,2022-01-04,2,NaN,NaN,NaN,-8.7,77,0,10.1
21862,2022-03-13,2,NaN,NaN,NaN,-5.1,50,0,21.1
21863,2023-03-12,2,NaN,NaN,NaN,0.9,72,0,6.4

In [12]:
# Concatenate 'Date' and 'Hour' columns and convert to datetime
weather_data['Datetime'] = pd.to_datetime(weather_data['Date'] + ' ' + weather_data['Hour'].astype(str), format='%Y-%m-%d %H')

In [13]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21864 entries, 0 to 21863
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     21864 non-null  object
 1   Hour                     21864 non-null  int64
 2   Casual                   21853 non-null  float64
 3   Member                   21853 non-null  float64
 4   Total_rides              21853 non-null  float64
 5   temperature_2m (°C)      21864 non-null  float64
 6   relativehumidity_2m (%)  21864 non-null  int64
 7   weathercode (wmo code)   21864 non-null  int64
 8   windspeed_10m (km/h)     21864 non-null  float64
 9   Datetime                 21864 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 1.7+ MB

In [14]:
weather_data.describe()

,Hour,Casual,Member,Total_rides,temperature_2m (°C),relativehumidity_2m (%),weathercode (wmo code),windspeed_10m (km/h),Datetime
count,21864.000000,21853.000000,21853.000000,21853.000000,21864.000000,21864.000000,21864.000000,21864.000000,21864
mean,11.500000,150.390335,223.957626,374.347961,14.021030,68.338685,8.489984,10.267755,2022-04-01 11:30:00
min,0.000000,0.000000,0.000000,1.000000,-12.800000,19.000000,0.000000,0.000000,2021-01-01 00:00:00
25%,5.750000,26.000000,50.000000,78.000000,6.200000,52.000000,0.000000,6.800000,2021-08-16 17:45:00
50%,11.500000,95.000000,186.000000,292.000000,14.300000,69.000000,1.000000,9.300000,2022-04-01 11:30:00
75%,17.250000,220.000000,341.000000,568.000000,22.000000,85.000000,3.000000,12.900000,2022-11-15 05:15:00
max,23.000000,1206.000000,1264.000000,1965.000000,36.400000,100.000000,75.000000,36.700000,2023-06-30 23:00:00
std,6.922345,162.049422,200.588576,343.928606,9.581512,19.529426,18.955336,5.106673,NaN

In [15]:
bike_data['started_at']

0         2021-01-01 00:08:33
1         2021-01-01 00:13:43
2         2021-01-01 00:14:32
3         2021-01-01 00:15:45
4         2021-01-01 00:17:46
                  ...
8180621   2023-06-30 23:57:43
8180622   2023-06-30 23:58:14
8180623   2023-06-30 23:58:26
8180624   2023-06-30 23:59:01
8180625   2023-06-30 23:59:35
Name: started_at, Length: 8180626, dtype: datetime64[ns]

In [16]:
weather_data['Datetime']

0       2021-01-01 00:00:00
1       2021-01-01 01:00:00
2       2021-01-01 02:00:00
3       2021-01-01 03:00:00
4       2021-01-01 04:00:00
                ...
21859   2021-02-19 03:00:00
21860   2021-03-14 02:00:00
21861   2022-01-04 02:00:00
21862   2022-03-13 02:00:00
21863   2023-03-12 02:00:00
Name: Datetime, Length: 21864, dtype: datetime64[ns]

In [23]:
# Round 'started_at' to the nearest hour
bike_data['rounded_started_at'] = bike_data['started_at'].dt.round('H')

# Merge based on the rounded 'started_at' and 'Datetime' columns
merged_data = pd.merge(bike_data, weather_data[['Datetime', 'temperature_2m (°C)', 'relativehumidity_2m (%)']], left_on='rounded_started_at', right_on='Datetime', how='left')

# Drop the redundant columns if needed
merged_data = merged_data.drop(['Datetime', 'rounded_started_at'], axis=1)
merged_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,temperature_2m (°C),relativehumidity_2m (%)
0,5CB9DFCECF79AF84,classic_bike,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member,2.4,90.0
1,629E059504606547,electric_bike,2021-01-01 00:13:43,2021-01-01 00:29:34,10th & U St NW,31111.0,NaN,NaN,38.917193,-77.025894,38.960000,-77.020000,casual,2.4,90.0
2,E74069873161EE33,electric_bike,2021-01-01 00:14:32,2021-01-01 00:28:45,17th & Corcoran St NW,31214.0,14th & Belmont St NW,31119.0,38.912138,-77.038568,38.920870,-77.031691,member,2.4,90.0
3,91F95E512CABC46A,classic_bike,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member,2.4,90.0
4,DA46A05139C0EA2F,classic_bike,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member,2.4,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8180621,E802A8D89245438B,electric_bike,2023-06-30 23:57:43,2023-07-01 00:07:16,NaN,NaN,14th & Newton St NW,31649.0,38.910000,-77.030000,38.931991,-77.032956,member,NaN,NaN
8180622,0448FEEB78F2B08D,classic_bike,2023-06-30 23:58:14,2023-07-01 00:24:14,18th & New Hampshire Ave NW,31324.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.911268,-77.041829,38.910100,-77.044400,casual,NaN,NaN
8180623,5BE258BC59548BE9,classic_bike,2023-06-30 23:58:26,2023-07-01 00:20:06,18th & New Hampshire Ave NW,31324.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.911268,-77.041829,38.910100,-77.044400,casual,NaN,NaN
8180624,5EAFC4B8F3E7680E,electric_bike,2023-06-30 23:59:01,2023-07-01 00:06:37,Adams Mill & Columbia Rd NW,31104.0,NaN,NaN,38.923005,-77.042420,38.930000,-77.030000,member,NaN,NaN
8180625,31813068FD8A3720,classic_bike,2023-06-30 23:59:35,2023-07-01 00:38:55,National Harbor Carousel,32423.0,National Harbor Carousel,32423.0,38.785900,-77.016700,38.785900,-77.016700,casual,NaN,NaN

In [26]:
# Create a datetime object for comparison
comparison_datetime = datetime(2022, 1, 1, 22, 0, 0)

# Boolean indexing to filter rows where 'Datetime' is equal to the comparison datetime
filtered_data = weather_data[weather_data['Datetime'] == comparison_datetime]
filtered_data

,Date,Hour,Casual,Member,Total_rides,temperature_2m (°C),relativehumidity_2m (%),weathercode (wmo code),windspeed_10m (km/h),Datetime
8774,2022-01-01,22,28.0,32.0,60.0,18.8,89,55,13.5,2022-01-01 22:00:00

In [27]:
merged_data[merged_data['started_at'].dt.round('H') == comparison_datetime]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,temperature_2m (°C),relativehumidity_2m (%)
2753141,5CECF8789C2E39AC,electric_bike,2022-01-01 21:30:10,2022-01-01 21:32:32,Maine Ave & 7th St SW,31609.0,Maine Ave & 7th St SW,31609.0,38.878847,-77.023162,38.878694,-77.023054,casual,18.8,89.0
2753142,7D9883B45D01AAC4,classic_bike,2022-01-01 21:30:17,2022-01-01 21:34:55,39th & Veazey St NW,31308.0,Connecticut & Nebraska Ave NW,31310.0,38.943837,-77.077078,38.955016,-77.069956,member,18.8,89.0
2753143,E09B421841DDE698,classic_bike,2022-01-01 21:30:48,2022-01-01 21:38:02,20th St & Florida Ave NW,31110.0,M St & Pennsylvania Ave NW,31246.0,38.915400,-77.044600,38.905126,-77.056887,casual,18.8,89.0
2753144,AF3188ADF6537229,electric_bike,2022-01-01 21:31:20,2022-01-01 21:32:25,Maine Ave & 7th St SW,31609.0,Maine Ave & 7th St SW,31609.0,38.878735,-77.023117,38.878694,-77.023054,casual,18.8,89.0
2753145,BDD3B68C96704773,classic_bike,2022-01-01 21:31:32,2022-01-01 21:36:32,Stadium Armory Metro,31665.0,Stadium Armory Metro,31665.0,38.885483,-76.977187,38.885483,-76.977187,member,18.8,89.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753215,D5DAC28D065777CA,electric_bike,2022-01-01 22:22:38,2022-01-01 22:34:35,NaN,NaN,1st & N St SE,31209.0,38.890000,-77.000000,38.874300,-77.005700,member,18.8,89.0
2753216,36ABAEC41F6F7B48,classic_bike,2022-01-01 22:24:21,2022-01-01 22:38:59,Georgetown Harbor / 30th St NW,31215.0,34th & Water St NW,31314.0,38.902314,-77.059141,38.903731,-77.067528,casual,18.8,89.0
2753217,0B33172C7E0BDECC,classic_bike,2022-01-01 22:25:17,2022-01-01 22:37:47,4th St & K St NW,31642.0,8th & F St NE,31631.0,38.902406,-77.016006,38.897274,-76.994749,member,18.8,89.0
2753218,3FA37B78F45F5FA8,classic_bike,2022-01-01 22:26:17,2022-01-01 22:33:25,5th & F St NW,31620.0,4th St & G St SW,31666.0,38.897222,-77.019347,38.881123,-77.017658,member,18.8,89.0
2753219,73EDA58696E1371A,electric_bike,2022-01-01 22:28:56,2022-01-01 22:37:49,11th & V st NW,31332.0,12th & L St NW,31251.0,38.918183,-77.026865,38.903819,-77.028400,member,18.8,89.0

In [20]:
merged_data['temperature_2m (°C)'].isna().sum()

183

In [21]:
merged_data[merged_data['temperature_2m (°C)'].isna()]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,temperature_2m (°C)
8180443,ABF02C78EB462986,classic_bike,2023-06-30 23:30:07,2023-06-30 23:37:26,17th & K St NW,31213.0,California St & Florida Ave NW,31116.0,38.902760,-77.038630,38.917761,-77.040620,member,NaN
8180444,96A6379D77D48134,electric_bike,2023-06-30 23:30:08,2023-06-30 23:51:57,7th & Monroe St NE,31534.0,Eastern Market Metro / Pennsylvania Ave & 8th ...,31613.0,38.932320,-76.996285,38.884095,-76.995234,member,NaN
8180445,B957235DB48D3F36,classic_bike,2023-06-30 23:30:10,2023-06-30 23:49:41,14th & D St NW / Ronald Reagan Building,31231.0,6th & H St NE,31615.0,38.894514,-77.031617,38.899972,-76.998347,casual,NaN
8180446,52A3F8E87D7FC9A1,classic_bike,2023-06-30 23:30:16,2023-06-30 23:40:16,12th & L St NW,31251.0,2nd & G St NE,31639.0,38.903819,-77.028400,38.899670,-77.003666,member,NaN
8180447,11AEF5F91B9D89C8,classic_bike,2023-06-30 23:30:17,2023-06-30 23:35:49,New Hampshire Ave & T St NW,31229.0,17th St & Rhode Island Ave NW,31210.0,38.915544,-77.038252,38.906767,-77.038627,member,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8180621,E802A8D89245438B,electric_bike,2023-06-30 23:57:43,2023-07-01 00:07:16,NaN,NaN,14th & Newton St NW,31649.0,38.910000,-77.030000,38.931991,-77.032956,member,NaN
8180622,0448FEEB78F2B08D,classic_bike,2023-06-30 23:58:14,2023-07-01 00:24:14,18th & New Hampshire Ave NW,31324.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.911268,-77.041829,38.910100,-77.044400,casual,NaN
8180623,5BE258BC59548BE9,classic_bike,2023-06-30 23:58:26,2023-07-01 00:20:06,18th & New Hampshire Ave NW,31324.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.911268,-77.041829,38.910100,-77.044400,casual,NaN
8180624,5EAFC4B8F3E7680E,electric_bike,2023-06-30 23:59:01,2023-07-01 00:06:37,Adams Mill & Columbia Rd NW,31104.0,NaN,NaN,38.923005,-77.042420,38.930000,-77.030000,member,NaN
8180625,31813068FD8A3720,classic_bike,2023-06-30 23:59:35,2023-07-01 00:38:55,National Harbor Carousel,32423.0,National Harbor Carousel,32423.0,38.785900,-77.016700,38.785900,-77.016700,casual,NaN